server:
  port: 8081

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/usuarios
    username: root
    password: 'car10tur'
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

jwt:
  secret: ${JWT_SECRET:clave-super-secreta-de-al-menos-32-caracteres}

